html
    head
        title  "Hello From my Title"
    body
        h2 And Now for the Sports!
        ol
            li baseball
            li hockey
            li football
        p
            Here are a few Movies
            ol
                li LOTR
                li Infinity War
                li The Fight Game