html
    head
        title My Pages
        link( rel='stylesheet', href='css/main.css')
    body
        include ./header.pug
        h3 This is the about me page
        span Hey aint I great. I am so blah blah blah
        a(href="http://www.aurora.edu") go to school
        br
        a(href="components") go back to main
        include ./footer.pug
