html
    head
        title my Blog
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' )
        script( src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js')
        link(rel = 'stylesheet', href = 'css/main.css')
        link(rel = 'stylesheet', href = 'css/navStyles.css')
    body
        nav
            div
                i(class='fa fa-bars')
            ul
                li
                    a home
                li
                    a about
                li
                    a service
                li
                    a contact
