doctype html
html
   head
      meta(charset='UTF-8')
      title Simple templates
      link(rel='stylesheet', href='css/main.css')
   body
      include ./header.pug
      h3 Main Content with CSS
      include ./footer.pug