docType html
    head
        meta(charset='UTF-8')
        title Parts Pug
        link( rel='stylesheet', href='css/main.css')
    body
        include ./header.pug
        h3 Some Main Stuff from PartsPug
