header {
    background-color: darkred;
    border: 1px solid;
    padding: 20px;
}
h3 {
    background-color: yellow;
}
* {
    background-color: bisque;
}
footer {
    background-color: blue;
    border: 1px solid;
    padding: 20px;
}
body {
    background-color: burlywood;
}